@page
@model UserRazorPage.Pages.Shared.AddModel

<div>
    <div class="head">
        <h3>Add User</h3>
        <a href="/">Go Back</a>
    </div>
    <hr />
</div>
<div class="form">
    <form method="post">
        <input asp-for="Employee.Id" type="hidden" />
        <div class="form-input">
            <label >Image Url</label>
            <input asp-for="Employee.ImgUrl"  placeholder="http://..." />
        </div>

        <div class="form-input">
            <label>Name</label>
            <input asp-for="Employee.Name" placeholder="Joe" />
        </div>
        <div class="form-input">
            <label>Surname</label>
            <input asp-for="Employee.Surname"  placeholder="Doe" />
        </div>
        <div class="form-input">
            <label>Email</label>
            <input asp-for="Employee.Email" type="email" placeholder="joedoe@email.com" />
        </div>
        <div class="form-input">
            <label>Phone</label>
            <input asp-for="Employee.Phone" placeholder="+994 50 123 32 32" />
        </div>
        <div class="form-input">
            <input type="submit" value="Submit" />
        </div>
    </form>
</div>